<%- include('partials/header.ejs') %>

<body>
<%- include ('partials/navbar.ejs') %>
<br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>guiaperguntas</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">Enviado com sucesso!</h4>
                <p class="card-text">Sua pergunta foi enviada, aguarde por resposta.</p>
                <button class="btn btn-primary" onclick="window.location.href='/' ">Voltar</button>
            </div>
        </div>
    </div>

</body>
<%- include ('partials/footer.ejs') %>
